html,body{
    width:100vw;
    height: 100vh;
}
* {
    padding: 0;
    margin: 0;
}

#gameboard{
    background:navy;


}

#game-table {
    margin:auto;
}

.card {
    width:15vw;
    max-width: 150px;
    height:15vw;
    margin:10px;
    border-radius:5px;
    background:white;
    font-size: 3em ;
    display:flex;
    align-items: center;
    justify-content: center;
}

.card-row {

}