/* WHOLE DOCUMENT */

:root {
    --yellow: #e5ca1d;
    --cyan: #4bd1a7;
    --dgreen: #266368;
    --owhite: #ffff;
}

html,
body {
    width: 100%;

}

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    /* font: 1em 'Alfa Slab One', cursive; */
    letter-spacing: .1rem;

}

.header {
    width: 100%;
    text-align: center;
    color: var(--cyan);
    margin: 10px 0;
    font-size: 1.5em;
}

.button {
    color: var(--owhite);
    background: var(--dgreen);
    font-size: 0.85em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    margin: 10px;

}

.button:hover {
    border: 2px solid var(--yellow);
}


/* MAIN HEADER */


#main-header-container {
    width: 100%;
}

#main-header {
    width: 100%;
    font-size: 2.8em;
    color: var(--cyan);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    min-height: 15vh;
}

.header-symbol {
    font-size: 1.5em;
    color: var(--yellow);
    margin: 0 20px;
    /* padding: 50px; */
}

#hr {
    width: 100%;
    height: 5px;
    background: var(--yellow);
    border: none;
}


/* MAIN CONTENT */


#content {
    width: 100%;
}


/* STATS DISPLAY */


#stats-container {
    width: 95%;
    margin: auto;
    padding: 10px 0;
    color: var(--dgreen);
    min-height: 10vh;

}

.align-flex {
    display: flex;
    align-items: center;
}

#stats-header {
    color: var(--dgreen);
}

#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.stat-item {
    margin: 5px 0;
    padding: 5px;
}

#score {
    color: var(--yellow);
    font-size: 2em;
}

/* HIDDEN BUTTONS CONTAINER */


#main-buttons-container {
    transform: scaley(0);
    transition: transform 0.2s ease;
    border: 2px solid var(--dgreen);
}

#buttons-list {
    list-style-type: none;
}

.main-button {
    width: 100%;
    box-shadow: none;
    background: none;
    font-size: 0.97em;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    color: 266368;
}

.main-button:hover {
    background: var(--dgreen);
    color: var(--cyan);
    font-weight: normal;
}


/* GAME SECTION */


#game-board {
    width: 100%;
    font-family: 'Bowlby One SC', cursive;

}

#menu-button-icon {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--dgreen);
}


/* HIDDEN SAVED CONTAINER */


#saved-container {
    transform: scaley(0);
    background: var(--yellow);
    text-align: center;
    padding: 3px;
    margin: 3px;
    color: black;
}

#saved-display {
    padding: 5px;
    margin: 5px;
}


/* GAME TABLE */


#table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;

}

#game-table {
    border-collapse: collapse;
    margin: 10px 10px 15px 5px;
    width: 100%;
    font-size: 1.5em;

}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 4px 10px 0px rgb(27, 49, 51);
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-cover {
    background: var(--cyan);
}

.card-cover:hover {
    background: radial-gradient(var(--owhite), var(--cyan));
}

.card-face {
    transform: scalex(0);
    background: var(--owhite);
}

.hide {
    display: none;
}


/* ASIDE CONTAINERS */


.prompt {
    width: 60%;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--owhite);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: 1px solid var(--yellow);
    padding: 30px;
    text-align: center;
    color: var(--dgreen);
    font-size: 1em;
}

#restart-text {
    margin: 15px;
}

#replay-container p,
th {
    margin: 10px;
    padding: 3px;
}

#stats-table-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stats-table-label {
    padding: 5px;
    margin: 5px;
}


/* ANIMATION */


.miss-animate {
    animation-duration: 0.4s;
    animation-name: miss;
}

.match-animate {
    animation-duration: 1s;
    animation-name: match;
}

.slide-down {
    animation-duration: 1s;
    animation-name: slidedown;
}

@keyframes miss {
    from {
        transform: translatex(0px);
    }

    25% {
        background: red;
        color: black;
        transform: translatex(10px);
    }

    50% {
        background: red;
        color: black;
        transform: translatex(0px);
    }

    75% {
        background: red;
        color: black;
        transform: translatex(-10px);
    }

    to {
        transform: translatex(0px);
    }
}

@keyframes match {
    from {
        transform: translatey(0px);
    }

    25% {
        background: var(--cyan);
        transform: translatey(10px);
    }

    50% {
        background: var(--cyan);
        transform: translatey(0px);
    }

    75% {
        background: var(--cyan);
        transform: translatey(-10px);
    }

    to {
        background: var(--cyan);
        transform: translatexy(0px);
    }
}

@keyframes slidedown {
    from {
        transform: scaley(0);
    }

    10% {
        transform: scaley(1);
    }

    90% {
        transform: scaley(1);
    }

    to {
        transform: scaley(0);
    }
}